.client {
	float:left;
	margin-left: 20px;
    background-color: lightgray;
    padding: 7px;
    border-radius: 13px;

}

.atty {
	float: right;
	margin-right: 20px;
	background-color: lightblue;
    padding: 7px;
    border-radius: 13px
}

#new_text {
	width: 100%;
	height: 75px;
	padding: 10px;
}

.panel {
	margin-right: 200px;
	margin-left: 200px;
}

#texts {
	height:200px;
}

.fb-login-button {
	float: right;
	margin-top: -20px;
}

.loginrow {
	text-align: center;
}

