<html>
<head>
	<title>
		Index
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="custom.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<img src="abotgado.png"></img>
	  <div class="panel-heading"style="background-color: black; background-image: none; color: white;font-weight: 200;>">
	    <h3 class="panel-title">ABOTGADO MESSENGER</h3>
	  </div>
	  <div class="panel-body" id="app">
	  	<div id="texts">
	  	<div class="row" v-for="message in messages">
	    <p v-bind:class="{ client: message.client, atty: message.atty }">
	    		{{message.text}}
	    </p>
	    </div>
	</div>
	    <div>
	    	<textarea id="new_text" v-model="new_message" v-on:keyup.enter="submit" placeholder="Type to message client..." ></textarea>
	   
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>